@reference "tailwindcss";

.base {
  @apply inline-flex
         items-center
         justify-center
         gap-2
         whitespace-nowrap
         rounded-md
         font-medium
         transition-colors
         disabled:pointer-events-none
         disabled:opacity-50
         cursor-pointer
         ;
}


.primary {
  background: var(--color-primary);
  color: white;
}

.primary:hover {
  background: var(--color-primary-dark);
}

.secondary {
  background: var(--color-secondary);
  color: white;
}

.secondary:hover {
  background: var(--color-secondary-light);
}

.success {
  background: var(--color-success);
  color: white;
}

.success:hover {
  background: var(--color-success-dark);
}

.danger {
  background: var(--color-danger);
  color: white;
}

.danger:hover {
  background: var(--color-danger-dark);
}

/* Tamanhos */

.xs {
  @apply h-7 px-2 text-xs;
}

.sm {
  @apply h-8 px-3 text-xs sm:text-sm;
}

.md {
  @apply h-9 px-3 text-sm md:h-10 md:px-4;
}

.lg {
  @apply h-10 px-4 text-sm md:h-12 md:px-6 md:text-base;
}

.xl {
  @apply h-11 px-5 text-base md:h-14 md:px-8 md:text-lg;
}

.icon {
  @apply h-9 w-9 md:h-10 md:w-10;
}